.page {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 10px;
    
}
.visualizer{
    width: 70%;
    border: 1px solid;
}
.code{
    width: 30%;
    border: 1px solid;
    overflow-y: scroll;
}